user.gradle
.gradle/
target/
ignite/
build/
out/
testoutput/

*.DS_Store
*.class
*.swp
*~
._*

.idea
*.iml
*.ipr
*.iws
.shelf
*.model
*.log

.settings/
.classpath
.project
.claude/
bin/
work/
.jqwik-database
.ipynb_checkpoints/
